clang-18 filter=lfs diff=lfs merge=lfs -text
libclang-cpp.so.18git filter=lfs diff=lfs merge=lfs -text
*.18git filter=lfs diff=lfs merge=lfs -text
libclang.so.18.0.0git filter=lfs diff=lfs merge=lfs -text
